<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="31" android:compileSdkVersionCodename="12" android:installLocation="auto" package="al.albapp.gen" platformBuildVersionCode="31" platformBuildVersionName="12">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE"/>
        </intent>
        <package android:name="com.whatsapp"/>
        <package android:name="com.whatsapp.w4b"/>
        <package android:name="app.phantom"/>
        <package android:name="com.google.android.gms.policy_cast_dynamite"/>
        <package android:name="com.facebook.katana"/>
        <intent>
            <action android:name="com.applovin.am.intent.action.APPHUB_SERVICE"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <category android:name="android.intent.category.BROWSABLE"/>
            <data android:scheme="https"/>
        </intent>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.MAIN"/>
        </intent>
        <package android:name="com.appnext.core"/>
    </queries>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="com.applovin.array.apphub.permission.BIND_APPHUB_SERVICE"/>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <application android:allowBackup="false" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:fullBackupContent="false" android:icon="@drawable/ic_launcher" android:label="AlbKanale IPTV" android:name="al.albapp.gen.config" android:supportsRtl="true" android:theme="@style/AppTheme" android:usesCleartextTraffic="true">
        <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="ca-app-pub-4537341636281998~3464361424"/>
        <meta-data android:name="com.wortise.ads.utm" android:value="ac24"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <uses-library android:name="com.google.android.maps" android:required="false"/>
        <meta-data android:name="applovin.sdk.key" android:value="QXJ4G1tUsXFv2w7FhlmZBcq0oezJKyxSv5wn5Rl_P5HAfHAwCpJkEsga_B48xsOg_iBZBw5WFwBIETlkd-hSBa"/>
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <meta-data android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME" android:value="al.albapp.gen.CastOptionsProvider"/>
        <meta-data android:name="android.app.default_searchable" android:value=".SearchableActivity"/>
        <provider android:authorities="al.albapp.gen.MySuggestionProvider" android:exported="false" android:name="al.albapp.gen.MySuggestionProvider"/>
        <meta-data android:name="com.google.android.gms.vision.DEPENDENCIES" android:value="barcode"/>
        <provider android:authorities="al.albapp.gen.stickercontentprovider" android:enabled="false" android:exported="true" android:name="al.albapp.gen.StickerContentProvider" android:readPermission="com.whatsapp.sticker.READ"/>
        <service android:name="al.albapp.gen.s_widget_vistafb" android:permission="android.permission.BIND_REMOTEVIEWS"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="true" android:label="AlbKanale IPTV" android:name="al.albapp.gen.preinicio">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:exported="false" android:name="com.google.android.gms.ads.AdActivity" android:theme="@android:style/Theme.Translucent"/>
        <activity android:exported="false" android:launchMode="singleTop" android:name="al.albapp.gen.SearchableActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable"/>
        </activity>
        <activity android:exported="true" android:label="AlbKanale IPTV" android:launchMode="singleTask" android:name="al.albapp.gen.ExpandedControlsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="AlbKanale IPTV" android:name="al.albapp.gen.t_qr"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="AlbKanale IPTV" android:name="al.albapp.gen.t_vistafb"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="AlbKanale IPTV" android:name="al.albapp.gen.t_url"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="AlbKanale IPTV" android:name="al.albapp.gen.t_html"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="AlbKanale IPTV" android:name="al.albapp.gen.t_video"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="AlbKanale IPTV" android:name="al.albapp.gen.t_video_exoplayer"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="AlbKanale IPTV" android:name="al.albapp.gen.t_video_playerjs" android:windowSoftInputMode="stateHidden"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="AlbKanale IPTV" android:name="al.albapp.gen.t_video_pro" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="AlbKanale IPTV" android:name="al.albapp.gen.t_radio"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="AlbKanale IPTV" android:name="al.albapp.gen.t_buscchats"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="AlbKanale IPTV" android:name="al.albapp.gen.t_buscchats_lista"/>
        <activity android:label="AlbKanale IPTV" android:name="al.albapp.gen.t_menugrid"/>
        <activity android:label="AlbKanale IPTV" android:name="al.albapp.gen.t_submenu"/>
        <activity android:label="AlbKanale IPTV" android:name="al.albapp.gen.t_submenu_ultimas"/>
        <activity android:label="AlbKanale IPTV" android:name="al.albapp.gen.t_rss"/>
        <activity android:label="AlbKanale IPTV" android:name="al.albapp.gen.t_rssdetalle"/>
        <activity android:label="AlbKanale IPTV" android:name="al.albapp.gen.t_oficinas"/>
        <activity android:label="AlbKanale IPTV" android:name="al.albapp.gen.t_chat_contra"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="AlbKanale IPTV" android:name="al.albapp.gen.t_chat" android:windowSoftInputMode="adjustResize"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="AlbKanale IPTV" android:name="al.albapp.gen.preperfil"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="AlbKanale IPTV" android:name="al.albapp.gen.chat_perfil"/>
        <activity android:label="AlbKanale IPTV" android:name="al.albapp.gen.guardarprimeravez"/>
        <activity android:label="AlbKanale IPTV" android:name="al.albapp.gen.eliminarperfil"/>
        <activity android:label="AlbKanale IPTV" android:name="al.albapp.gen.codigo"/>
        <activity android:label="AlbKanale IPTV" android:name="al.albapp.gen.chat"/>
        <activity android:label="AlbKanale IPTV" android:name="al.albapp.gen.contactar"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="AlbKanale IPTV" android:name="al.albapp.gen.t_buscador_form"/>
        <activity android:label="AlbKanale IPTV" android:name="al.albapp.gen.cats"/>
        <activity android:label="AlbKanale IPTV" android:name="al.albapp.gen.t_buscador"/>
        <activity android:label="AlbKanale IPTV" android:name="al.albapp.gen.t_detalle"/>
        <activity android:label="AlbKanale IPTV" android:name="al.albapp.gen.t_menu"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="AlbKanale IPTV" android:name="al.albapp.gen.t_mapa_web"/>
        <activity android:label="AlbKanale IPTV" android:name="al.albapp.gen.t_and"/>
        <activity android:label="AlbKanale IPTV" android:name="al.albapp.gen.finalizar"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="AlbKanale IPTV" android:name="al.albapp.gen.notifs"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="AlbKanale IPTV" android:name="al.albapp.gen.notifs_cats"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="AlbKanale IPTV" android:name="al.albapp.gen.privados"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="AlbKanale IPTV" android:name="al.albapp.gen.profile"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="AlbKanale IPTV" android:name="al.albapp.gen.fotoperfil"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="AlbKanale IPTV" android:name="al.albapp.gen.fotogal"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="AlbKanale IPTV" android:name="al.albapp.gen.t_buscusus"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="AlbKanale IPTV" android:name="al.albapp.gen.t_buscvideos"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="AlbKanale IPTV" android:name="al.albapp.gen.t_buscvideo" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="AlbKanale IPTV" android:name="al.albapp.gen.t_gal"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="AlbKanale IPTV" android:name="al.albapp.gen.t_gal_foto"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="AlbKanale IPTV" android:name="al.albapp.gen.t_card"/>
        <service android:name="al.albapp.gen.s_cargar_icos"/>
        <service android:name="al.albapp.gen.s_cargar_sliderheader"/>
        <service android:name="al.albapp.gen.s_cargar_fondo"/>
        <service android:name="al.albapp.gen.s_cargar_icos_gen"/>
        <service android:name="al.albapp.gen.s_guardarperfil"/>
        <service android:name="al.albapp.gen.s_mediaplayer_exo"/>
        <service android:name="al.albapp.gen.RegistrationIntentService"/>
        <provider android:authorities="al.albapp.gen.bd_provider" android:exported="false" android:multiprocess="true" android:name="al.albapp.gen.bd_provider"/>
        <provider android:authorities="al.albapp.gen.fileprovider" android:exported="false" android:grantUriPermissions="true" android:name="androidx.core.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/filepaths"/>
        </provider>
        <receiver android:name="al.albapp.gen.alarma_rss"/>
        <service android:exported="false" android:name="al.albapp.gen.MyFcmListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:exported="false" android:name="al.albapp.gen.MyInstanceIDListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="false" android:hardwareAccelerated="true" android:name="com.facebook.ads.AudienceNetworkActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:hardwareAccelerated="true" android:name="com.adcolony.sdk.AdColonyInterstitialActivity" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:hardwareAccelerated="true" android:name="com.adcolony.sdk.AdColonyAdViewActivity" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>
        <activity android:configChanges="fontScale|keyboard|keyboardHidden|locale|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode" android:hardwareAccelerated="true" android:name="com.unity3d.services.ads.adunit.AdUnitActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:configChanges="fontScale|keyboard|keyboardHidden|locale|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode" android:hardwareAccelerated="true" android:name="com.unity3d.services.ads.adunit.AdUnitTransparentActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"/>
        <activity android:configChanges="fontScale|keyboard|keyboardHidden|locale|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode" android:hardwareAccelerated="false" android:name="com.unity3d.services.ads.adunit.AdUnitTransparentSoftwareActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"/>
        <activity android:configChanges="fontScale|keyboard|keyboardHidden|locale|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode" android:hardwareAccelerated="false" android:name="com.unity3d.services.ads.adunit.AdUnitSoftwareActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize" android:name="com.facebook.FacebookActivity" android:theme="@style/com_facebook_activity_theme"/>
        <activity android:name="com.facebook.CustomTabMainActivity"/>
        <activity android:exported="true" android:name="com.facebook.CustomTabActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="cct.al.albapp.gen" android:scheme="fbconnect"/>
            </intent-filter>
        </activity>
        <receiver android:exported="false" android:name="com.google.android.gms.cast.framework.media.MediaIntentReceiver"/>
        <service android:exported="false" android:foregroundServiceType="mediaPlayback" android:name="com.google.android.gms.cast.framework.media.MediaNotificationService"/>
        <service android:exported="false" android:name="com.google.android.gms.cast.framework.ReconnectionService"/>
        <meta-data android:name="com.google.android.gms.ads.AD_MANAGER_APP" android:value="true"/>
        <activity android:configChanges="orientation|screenSize" android:hardwareAccelerated="true" android:name="com.ironsource.sdk.controller.ControllerActivity"/>
        <activity android:configChanges="orientation|screenSize" android:hardwareAccelerated="true" android:name="com.ironsource.sdk.controller.InterstitialActivity" android:theme="@android:style/Theme.Translucent"/>
        <activity android:configChanges="orientation|screenSize" android:hardwareAccelerated="true" android:name="com.ironsource.sdk.controller.OpenUrlActivity" android:theme="@android:style/Theme.Translucent"/>
        <provider android:authorities="al.albapp.gen.IronsourceLifecycleProvider" android:name="com.ironsource.lifecycle.IronsourceLifecycleProvider"/>
        <activity android:name="com.wortise.ads.consent.ConsentActivity" android:theme="@style/Theme.Wortise.DialogActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.wortise.ads.events.ClickHandlerActivity" android:theme="@style/Theme.Wortise.Transparent"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.wortise.ads.interstitial.InterstitialActivity" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>
        <activity android:name="com.wortise.ads.push.PushInterstitialActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <provider android:authorities="al.albapp.gen.wortise.lifecycle-activity" android:exported="false" android:multiprocess="true" android:name="com.wortise.ads.lifecycle.ActivityLifecycleInitializer"/>
        <receiver android:enabled="true" android:exported="true" android:name="com.wortise.ads.geofencing.GeofenceBroadcastReceiver"/>
        <provider android:authorities="al.albapp.gen.AudienceNetworkContentProvider" android:exported="false" android:name="com.facebook.ads.AudienceNetworkContentProvider"/>
        <provider android:authorities="al.albapp.gen.applovininitprovider" android:exported="false" android:initOrder="101" android:name="com.applovin.sdk.AppLovinInitProvider"/>
        <activity android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:exported="false" android:hardwareAccelerated="true" android:launchMode="singleTop" android:name="com.applovin.adview.AppLovinFullscreenActivity" android:screenOrientation="behind"/>
        <activity android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.applovin.sdk.AppLovinWebViewActivity"/>
        <activity android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.applovin.mediation.hybridAds.MaxHybridMRecAdActivity"/>
        <activity android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.applovin.mediation.hybridAds.MaxHybridNativeAdActivity"/>
        <activity android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.applovin.mediation.MaxDebuggerActivity" android:theme="@style/com.applovin.mediation.MaxDebuggerActivity.Theme"/>
        <activity android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.applovin.mediation.MaxDebuggerDetailActivity" android:theme="@style/com.applovin.mediation.MaxDebuggerActivity.Theme"/>
        <activity android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.applovin.mediation.MaxDebuggerMultiAdActivity" android:theme="@style/com.applovin.mediation.MaxDebuggerActivity.Theme"/>
        <activity android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.applovin.mediation.MaxDebuggerAdUnitsListActivity" android:theme="@style/com.applovin.mediation.MaxDebuggerActivity.Theme"/>
        <activity android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.applovin.mediation.MaxDebuggerAdUnitDetailActivity" android:theme="@style/com.applovin.mediation.MaxDebuggerActivity.Theme"/>
        <activity android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.applovin.mediation.MaxDebuggerTestLiveNetworkActivity" android:theme="@style/com.applovin.mediation.MaxDebuggerActivity.Theme"/>
        <activity android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.applovin.mediation.MaxDebuggerTestModeNetworkActivity" android:theme="@style/com.applovin.mediation.MaxDebuggerActivity.Theme"/>
        <service android:exported="false" android:name="com.applovin.impl.sdk.utils.AppKilledService" android:stopWithTask="false"/>
        <service android:exported="false" android:name="com.applovin.impl.adview.activity.FullscreenAdService" android:stopWithTask="false"/>
        <receiver android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementReceiver"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementService"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.components.ComponentDiscoveryService">
            <meta-data android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.iid.Registrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <provider android:authorities="al.albapp.gen.mobileadsinitprovider" android:exported="false" android:initOrder="100" android:name="com.google.android.gms.ads.MobileAdsInitProvider"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.ads.AdService"/>
        <service android:exported="true" android:name="com.google.firebase.messaging.FirebaseMessagingService">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <activity android:excludeFromRecents="true" android:exported="false" android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <service android:exported="true" android:name="com.google.android.gms.auth.api.signin.RevocationBoundService" android:permission="com.google.android.gms.auth.api.signin.permission.REVOCATION_NOTIFICATION"/>
        <receiver android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </receiver>
        <service android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdService">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <provider android:authorities="al.albapp.gen.firebaseinitprovider" android:directBootAware="true" android:exported="false" android:initOrder="100" android:name="com.google.firebase.provider.FirebaseInitProvider"/>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize" android:name="com.startapp.sdk.adsbase.consent.ConsentActivity" android:theme="@android:style/Theme.Translucent"/>
        <activity android:name="com.startapp.sdk.ads.list3d.List3DActivity" android:theme="@android:style/Theme"/>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize" android:name="com.startapp.sdk.ads.interstitials.OverlayActivity" android:theme="@android:style/Theme.Translucent"/>
        <service android:name="com.startapp.sdk.cachedservice.BackgroundService"/>
        <service android:name="com.startapp.sdk.jobs.SchedulerService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:exported="true" android:name="com.startapp.sdk.adsbase.remoteconfig.BootCompleteListener">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <provider android:authorities="al.albapp.gen.FacebookInitProvider" android:exported="false" android:name="com.facebook.internal.FacebookInitProvider"/>
        <receiver android:exported="false" android:name="com.facebook.CurrentAccessTokenExpirationBroadcastReceiver">
            <intent-filter>
                <action android:name="com.facebook.sdk.ACTION_CURRENT_ACCESS_TOKEN_CHANGED"/>
            </intent-filter>
        </receiver>
        <provider android:authorities="al.albapp.gen.androidx-startup" android:exported="false" android:name="androidx.startup.InitializationProvider">
            <meta-data android:name="androidx.work.WorkManagerInitializer" android:value="androidx.startup"/>
        </provider>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_alarm_service_default" android:exported="false" android:name="androidx.work.impl.background.systemalarm.SystemAlarmService"/>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_job_service_default" android:exported="true" android:name="androidx.work.impl.background.systemjob.SystemJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_foreground_service_default" android:exported="false" android:name="androidx.work.impl.foreground.SystemForegroundService"/>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="false" android:name="androidx.work.impl.utils.ForceStopRunnable$BroadcastReceiver"/>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryChargingProxy">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryNotLowProxy">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_OKAY"/>
                <action android:name="android.intent.action.BATTERY_LOW"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$StorageNotLowProxy">
            <intent-filter>
                <action android:name="android.intent.action.DEVICE_STORAGE_LOW"/>
                <action android:name="android.intent.action.DEVICE_STORAGE_OK"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$NetworkStateProxy">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.RescheduleReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="@bool/enable_system_alarm_service_default" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxyUpdateReceiver">
            <intent-filter>
                <action android:name="androidx.work.impl.background.systemalarm.UpdateProxies"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="true" android:name="androidx.work.impl.diagnostics.DiagnosticsReceiver" android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="androidx.work.diagnostics.REQUEST_DIAGNOSTICS"/>
            </intent-filter>
        </receiver>
        <provider android:authorities="al.albapp.gen.lifecycle-process" android:exported="false" android:multiprocess="true" android:name="androidx.lifecycle.ProcessLifecycleOwnerInitializer"/>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery">
            <meta-data android:name="backend:com.google.android.datatransport.cct.CctBackendFactory" android:value="cct"/>
        </service>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"/>
        <service android:directBootAware="true" android:exported="false" android:name="androidx.room.MultiInstanceInvalidationService"/>
        <service android:multiprocess="true" android:name="com.appnext.core.AdsService"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:hardwareAccelerated="true" android:multiprocess="true" android:name="com.appnext.ads.interstitial.InterstitialActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:hardwareAccelerated="true" android:multiprocess="true" android:name="com.appnext.ads.fullscreen.FullscreenActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:name="com.appnext.banners.BannerActivity" android:screenOrientation="portrait"/>
        <activity android:excludeFromRecents="true" android:launchMode="singleTop" android:name="com.appnext.core.ResultActivity"/>
        <activity android:excludeFromRecents="true" android:launchMode="singleTop" android:name="com.appnext.core.result.ResultPageActivity" android:screenOrientation="portrait"/>
    </application>
</manifest>